<body class="text-center">

    <main class="form-signin">
        <form [formGroup]="creditAddForm">
            <h1 class="h3 mb-3 fw-normal">Ödeme Bilgilerinizi Giriniz</h1>
            <div class="row">


                <div class="form-floating">
                    <input type="number" class="form-control" id="floatingInput" placeholder="0000 0000 0000 0000">
                    <label for="floatingInput">Kart No</label>
                </div>
                <div class="form-floating mt-1" >
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating col-6 mt-1" >
                    <input type="month" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">MM YY</label>
                </div>

                <div class="checkbox mb-3 mt-1">
                    <label>
                        <input type="checkbox" value="remember-me"> Kredi kartını kaydet
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Ödemeyi Tamamla</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
            </div>
        </form>
    </main>



</body>